#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.bingo-board {
  position: relative; 
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.bingo-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; /* For stacking chicken gif on top */
}

.chicken-gif {
  position: absolute; /* Positioned absolutely within the board */
  pointer-events: none; /* So it doesn't interfere with clicking on cells */
  transition: top 0.5s, left 0.5s; /* Smooth transition for moving the chicken */
}

.bet-cell {
  background-color: lightblue;
}

.poop-cell {
  background-color: brown;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
